<div class="lg:flex lg:justify-center lg:items-center sm:pt-14 text-800 ">
    <div class=" lg:flex lg:flex-row col-12 items-center  sm:col-6 py-32 p-6 text-center ">
      <section class="text-center max-w-2xl mx-auto">
        <h1 class="text-gray-600 text-5xl font-bold mb-1">Esteban Soto Henríquez</h1>
        <div class="sm:flex sm:justify-center items-center gap-2 mb-3">
          <h2 class="gradient text-4xl text-primary font-bold ">Desarrollador Web </h2>
          <span class="text-3xl">💻</span>
        </div>
        <h3 class="mb-2">Estudiante Ingeniería Civil Informática</h3>

        <p class="mt-0 mb-4 text-lg leading-8 text-gray-600 text-justify">Una de las cosas más significativas de la
          vida
          es encontrar la felicidad en lo que hacemos. En mi caso, descubrí que brindar soluciones a través del
          desarrollo web es una de esas cosas que realmente me llena de satisfacción.</p>

      </section>
      <div class="divider-vertical mx-5 max-w-5xl hidden lg:block" role="separator" aria-label="Divider"></div>
        <img class="max-h-[415px] mt-7 lg:mt-0 md:col-6 order-first lg:order-none lg:block border rounded-2xl mx-auto" src="../assets/4200_3_03.jpg" alt="">
      
    </div>
  </div>