
<main id="home" class="">

  <app-navbar></app-navbar>
  <div class="mx-auto max-w-7xl ">
    <app-hero></app-hero>
    <app-skills></app-skills>
    <app-divider></app-divider>
    <app-trayectoria></app-trayectoria>
    <app-divider></app-divider>
    <app-proyects></app-proyects>
  </div>
    <h1 class="text-3xl mt-10 font-bold text-center animate__animated animate__backInLeft" pTooltip="No es un error ;)"
        tooltipPosition="bottom">
        Hello world!
    </h1>
<p-scrollTop styleClass="custom-scrolltop"></p-scrollTop>
</main>


